<section>
    <h1>Welcome to NJ College Networking!</h1>
        <p>
            Hello future College or current College Students!
            <br> We are a dedicated team based in New Jersey ready to assist you on your College Journey!
            <br> Our overall goal is to help you build a network of like minded individuals, while having fun in the process.
            <br> We provide ways for High School Students to not only scout Colleges, but also a way to network prior to attending.
            <br> Even current College Students can benefit from our programs. Once you create an account you will be able to check our events.
            <br> Our Program Information page has more detailed information regarding all the types of programs we provide.
        </p>
    <div>
        <img src="/images/groupofstudents.jpg" alt="Group of Students" height="1920px" width="1080px"/>
    </div>
    <div>
        <p></p>

    </div>
</section>







