<section>
    <div>
        <div>
        <h1><b>Our Main Locations!</b></h1>
            <p>
            Hello future College or current College Students!
            <br>Thanks to our network we manage to secure shared location
            <br>space in order to meet us to face to face prior to joining.
            <br>
            <br> These are our Locations in New Jersey:
            </p>
        <div>
        </div>
            <div>
                <h5><b>North Jersey Headquarters</b></h5>
            </div>
            <div>
                <img src="/images/10-north-jersey-hq.jpg" alt="North Jersey Location" height="500px" width="600px"/>
            </div>
        <br>
            <div>
                <h5><b>Central Jersey Headquarters</b></h5>
            </div>
            <div>
                <img src="/images/10-central-jersey-hq.jpg" alt="Central Jersey Location" height="500px" width="600px"/>
            </div>
        <br>    
            <div>
                <h5><b>South Jersey Headquarters</b></h5>
            </div>
            <div>
                <img src="/images/10-south-jersey-hq.jpg" alt="South Jersey Location" height="500px" width="600px"/>
            </div>
        </div>
    </div>
</section>

{{!-- <figure>
    <table>
        <thead>
            <tr>
                <th>
                    <strong><em>Visit the Contact Form for more information.</em></strong>
                </th>
            </tr>
        </thead>
    </table>
</figure> --}}
